@import "./main.css";

.page {
	background-color: #e6fdff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.page__container {
	width: 90%;
	height: 90%;
	max-width: 1600px;
	background-color: #f4e2de;
	border-radius: 20px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	position: relative;
	text-align: center;
}

.parable-types {
	margin-bottom: 5%;
}

.parable-types .parable-types__img {
	filter: drop-shadow(10px 10px 10px #0f6466);
	width: 10%;
}

.parable-types .parable-types__type {
	display: inline;
	list-style-type: none;
	margin: 4%;
}

.parable-of-day {
	line-height: 10px;
	margin-bottom: 5%;
}

.code-of-day__code {
	align-self: center;
	text-align: left;
	margin-bottom: 5%;
	white-space: pre;
	font-weight: 600;
	font-family: monospace;
}
